Machine learning analysis for the preprocessed absenteeism data

In [1]:
import pandas as pd
import numpy as np

df_prep = pd.read_csv("Resources\Absenteeism_preprocessed_data.csv")

In [2]:
df_prep.head()

,Unnamed: 0,Reason_1,Reason_2,Reason_3,Reason_4,Month,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

In [3]:
df_prep['Absenteeism Time in Hours'].median()

3.0

In [4]:
targets = np.where(df_prep['Absenteeism Time in Hours'] > df_prep['Absenteeism Time in Hours'].median(), 1, 0)

In [5]:
print(len(targets))
sum(targets)

700

319

In [6]:
df = df_prep.drop(['Absenteeism Time in Hours'], axis = 1)

In [7]:
df['Excessive Absenteeism'] = targets
df.head()

,Unnamed: 0,Reason_1,Reason_2,Reason_3,Reason_4,Month,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,1
1,1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,0
3,3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,1
4,4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,0

In [8]:
df = df.drop(['Unnamed: 0', 'Day of the week', 'Daily Work Load Average'], axis = 1)

In [9]:
df.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month,Transportation Expense,Distance to Work,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,1,7,289,36,33,30,0,2,1,1
1,0,0,0,0,7,118,13,50,31,0,1,0,0
2,0,0,0,1,7,179,51,38,31,0,0,0,0
3,1,0,0,0,7,279,5,39,24,0,2,0,1
4,0,0,0,1,7,289,36,33,30,0,2,1,0

In [10]:
df_with_targets = df.copy()

In [11]:
df_with_targets.shape

(700, 13)

In [12]:
unscaled_inputs = df_with_targets.iloc[:,:-1]

In [13]:
unscaled_inputs.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month,Transportation Expense,Distance to Work,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,289,36,33,30,0,2,1
1,0,0,0,0,7,118,13,50,31,0,1,0
2,0,0,0,1,7,179,51,38,31,0,0,0
3,1,0,0,0,7,279,5,39,24,0,2,0
4,0,0,0,1,7,289,36,33,30,0,2,1

### Standardization

In [14]:
from sklearn.preprocessing import StandardScaler
absenteism_scaler = StandardScaler()

In [15]:
absenteism_scaler.fit(unscaled_inputs)

C:\Users\Karolina\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [16]:
scaled_inputs = absenteism_scaler.transform(unscaled_inputs)

C:\Users\Karolina\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

In [17]:
scaled_inputs

array([[-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
         0.88046927,  0.26848661],
       [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
        -0.01928035, -0.58968976],
       [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
        -0.91902997, -0.58968976],
       ...,
       [ 1.73205081, -0.09298136, -0.31448545, ...,  2.23224237,
        -0.91902997, -0.58968976],
       [-0.57735027, -0.09298136, -0.31448545, ...,  2.23224237,
        -0.91902997, -0.58968976],
       [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
        -0.01928035,  0.26848661]])

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size = 0.8, random_state=42, shuffle = True)

C:\Users\Karolina\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [20]:
len(X_train)

560

In [21]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [22]:
reg = LogisticRegression()

In [23]:
reg.fit(X_train, y_train)

C:\Users\Karolina\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [24]:
reg.score(X_train, y_train)

0.7892857142857143

In [25]:
predictions = reg.predict(X_test)

In [26]:
reg.score(X_test, y_test)

0.7714285714285715

In [27]:
predictions == y_test

array([False, False, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True, False,  True, False,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False, False,  True,  True, False,  True,  True, False,
        True, False, False,  True,  True, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False,  True,  True,  True,
        True,  True,  True, False,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False, False,  True, False,
        True,  True,  True, False,  True,  True, False, False, False,
        True, False,  True, False,  True,  True, False, False,  True,
        True,  True, False, False,  True])

In [28]:
np.sum(predictions==y_test)

108

In [29]:
accuracy = np.sum(predictions==y_test) / len(predictions)
accuracy

0.7714285714285715

In [30]:
reg.intercept_

array([-0.17996475])

In [31]:
reg.coef_

array([[ 2.13279931,  0.35830886,  1.54720836,  1.40141125,  0.0851461 ,
         0.78579867, -0.11608378, -0.29736623,  0.30579713, -0.15851859,
         0.40213217, -0.34556274]])

In [32]:
feature_names = unscaled_inputs.columns.values

In [33]:
summary_table = pd.DataFrame(columns=['Feature name'], data = feature_names)
summary_table['Coefficients'] = np.transpose(reg.coef_)
summary_table

              Feature name  Coefficients
0                 Reason_1      2.132799
1                 Reason_2      0.358309
2                 Reason_3      1.547208
3                 Reason_4      1.401411
4                    Month      0.085146
5   Transportation Expense      0.785799
6         Distance to Work     -0.116084
7                      Age     -0.297366
8          Body Mass Index      0.305797
9                Education     -0.158519
10                Children      0.402132
11                    Pets     -0.345563

In [34]:
unscaled_inputs.corr()

,Reason_1,Reason_2,Reason_3,Reason_4,Month,Transportation Expense,Distance to Work,Age,Body Mass Index,Education,Children,Pets
Reason_1,1.000000,-0.053683,-0.181568,-0.702915,-0.002826,0.008725,-0.098625,0.022772,-0.077597,0.095056,-0.061594,-0.054502
Reason_2,-0.053683,1.000000,-0.029241,-0.113203,-0.018406,-0.000487,-0.022372,0.030381,-0.078084,0.124487,0.081867,-0.041531
Reason_3,-0.181568,-0.029241,1.000000,-0.382881,-0.013796,0.016658,-0.023367,-0.019797,-0.038087,0.046426,0.088256,0.105854
Reason_4,-0.702915,-0.113203,-0.382881,1.000000,-0.036989,-0.066727,0.130687,-0.062765,0.071160,-0.108243,-0.049680,-0.013062
Month,-0.002826,-0.018406,-0.013796,-0.036989,1.000000,0.135803,-0.003970,0.004983,0.058254,-0.075561,0.082057,0.076250
Transportation Expense,0.008725,-0.000487,0.016658,-0.066727,0.135803,1.000000,0.234940,-0.223828,-0.140531,-0.019623,0.381749,0.446887
Distance to Work,-0.098625,-0.022372,-0.023367,0.130687,-0.003970,0.234940,1.000000,-0.131076,0.136190,-0.289994,0.048534,0.171585
Age,0.022772,0.030381,-0.019797,-0.062765,0.004983,-0.223828,-0.131076,1.000000,0.483762,-0.219723,0.046930,-0.252067
Body Mass Index,-0.077597,-0.078084,-0.038087,0.071160,0.058254,-0.140531,0.136190,0.483762,1.000000,-0.376657,-0.155711,-0.066484
Education,0.095056,0.124487,0.046426,-0.108243,-0.075561,-0.019623,-0.289994,-0.219723,-0.376657,1.000000,-0.167109,-0.086733
Children,-0.061594,0.081867,0.088256,-0.049680,0.082057,0.381749,0.048534,0.046930,-0.155711,-0.167109,1.000000,0.116586
Pets,-0.054502,-0.041531,0.105854,-0.013062,0.076250,0.446887,0.171585,-0.252067,-0.066484,-0.086733,0.116586,1.000000

In [35]:
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table

In [36]:
summary_table = summary_table.sort_index()
summary_table

              Feature name  Coefficients
0                Intercept     -0.179965
1                 Reason_1      2.132799
2                 Reason_2      0.358309
3                 Reason_3      1.547208
4                 Reason_4      1.401411
5                    Month      0.085146
6   Transportation Expense      0.785799
7         Distance to Work     -0.116084
8                      Age     -0.297366
9          Body Mass Index      0.305797
10               Education     -0.158519
11                Children      0.402132
12                    Pets     -0.345563

### Interpreting the coefficients ###

In [37]:
summary_table['Odds_ratio'] = np.exp(summary_table.Coefficients)

In [38]:
summary_table

              Feature name  Coefficients  Odds_ratio
0                Intercept     -0.179965    0.835300
1                 Reason_1      2.132799    8.438456
2                 Reason_2      0.358309    1.430908
3                 Reason_3      1.547208    4.698336
4                 Reason_4      1.401411    4.060927
5                    Month      0.085146    1.088876
6   Transportation Expense      0.785799    2.194159
7         Distance to Work     -0.116084    0.890401
8                      Age     -0.297366    0.742772
9          Body Mass Index      0.305797    1.357707
10               Education     -0.158519    0.853407
11                Children      0.402132    1.495009
12                    Pets     -0.345563    0.707822

In [39]:
summary_table.sort_values('Odds_ratio', ascending = False)

              Feature name  Coefficients  Odds_ratio
1                 Reason_1      2.132799    8.438456
3                 Reason_3      1.547208    4.698336
4                 Reason_4      1.401411    4.060927
6   Transportation Expense      0.785799    2.194159
11                Children      0.402132    1.495009
2                 Reason_2      0.358309    1.430908
9          Body Mass Index      0.305797    1.357707
5                    Month      0.085146    1.088876
7         Distance to Work     -0.116084    0.890401
10               Education     -0.158519    0.853407
0                Intercept     -0.179965    0.835300
8                      Age     -0.297366    0.742772
12                    Pets     -0.345563    0.707822

In [40]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScaler(BaseEstimator, TransformerMixin):
    
    def __init__(self, columns, copy = True, with_mean = True, with_std = True):
        self.scaler = StandardScaler(copy, with_mean, with_std)
        self.columns = columns
        self.mean_ = None
        self.var_ = None
    
    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self
    
    def transform(self, X, y=None, copy=None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns = self.columns)
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled, X_scaled], axis = 1)[init_col_order]

In [41]:
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Body Mass Index', 'Education', 'Children', 'Pets'], dtype=object)

In [44]:
columns_to_scale = ['Month', 'Transportation Expense', 'Distance to Work',
       'Age', 'Body Mass Index', 'Children', 'Pets']
# or
# columns_to_omit = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Education']
# columns_to_scale = [x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

In [45]:
absenteism_scaler = CustomScaler(columns_to_scale)
absenteism_scaler.fit(unscaled_inputs)
scaled_inputs = absenteism_scaler.transform(unscaled_inputs)
scaled_inputs

C:\Users\Karolina\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Karolina\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.

,Reason_1,Reason_2,Reason_3,Reason_4,Month,Transportation Expense,Distance to Work,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,0.182726,1.005844,0.412816,-0.536062,0.767431,0,0.880469,0.268487
1,0,0,0,0,0.182726,-1.574681,-1.141882,2.130803,1.002633,0,-0.019280,-0.589690
2,0,0,0,1,0.182726,-0.654143,1.426749,0.248310,1.002633,0,-0.919030,-0.589690
3,1,0,0,0,0.182726,0.854936,-1.682647,0.405184,-0.643782,0,0.880469,-0.589690
4,0,0,0,1,0.182726,1.005844,0.412816,-0.536062,0.767431,0,0.880469,0.268487
5,0,0,0,1,0.182726,-0.654143,1.426749,0.248310,1.002633,0,-0.919030,-0.589690
6,0,0,0,1,0.182726,2.092381,1.494345,-1.320435,0.061825,0,-0.019280,2.843016
7,0,0,0,1,0.182726,0.568211,1.359154,-0.065439,-0.878984,0,2.679969,-0.589690
8,0,0,1,0,0.182726,-1.016322,-1.209478,-0.379188,-0.408580,0,0.880469,-0.589690
9,0,0,0,1,0.182726,0.190942,-1.277074,0.091435,0.532229,1,-0.019280,0.268487
10,1,0,0,0,0.182726,0.568211,1.359154,-0.065439,-0.878984,0,2.679969,-0.589690
11,1,0,0,0,0.182726,0.568211,1.359154,-0.065439,-0.878984,0,2.679969,-0.589690
12,1,0,0,0,0.182726,0.568211,1.359154,-0.065439,-0.878984,0,2.679969,-0.589690
13,1,0,0,0,0.182726,-0.654143,1.426749,0.248310,1.002633,0,-0.919030,-0.589690
14,0,0,0,1,0.182726,-0.654143,1.426749,0.248310,1.002633,0,-0.919030,-0.589690
15,1,0,0,0,0.182726,0.356940,-0.330735,0.718933,-0.878984,0,-0.919030,-0.589690
16,0,0,0,1,0.182726,-0.654143,1.426749,0.248310,1.002633,0,-0.919030,-0.589690
17,0,0,1,0,0.182726,-0.654143,1.426749,0.248310,1.002633,0,-0.919030,-0.589690
18,1,0,0,0,0.182726,-0.503235,-0.060353,-0.536062,-0.408580,0,0.880469,1.126663
19,0,0,0,1,0.468236,0.387122,-0.330735,1.660180,1.237836,0,0.880469,0.268487
20,1,0,0,0,0.468236,1.624567,-0.939096,-1.320435,-0.408580,1,-0.919030,-0.589690
21,1,0,0,0,0.468236,-0.654143,1.426749,0.248310,1.002633,0,-0.919030,-0.589690
22,1,0,0,0,0.468236,2.092381,1.494345,-1.320435,0.061825,0,-0.019280,2.843016
23,0,0,0,1,0.468236,0.568211,1.359154,-0.065439,-0.878984,0,2.679969,-0.589690
24,0,0,1,0,0.468236,1.005844,0.412816,-0.536062,0.767431,0,0.880469,0.268487
25,0,0,0,1,0.468236,2.092381,1.494345,-1.320435,0.061825,0,-0.019280,2.843016
26,0,0,0,1,0.468236,1.005844,0.412816,-0.536062,0.767431,0,0.880469,0.268487
27,0,0,0,1,0.468236,-0.986140,-0.195544,-1.163560,-1.114186,0,-0.919030,-0.589690
28,0,0,1,0,0.468236,1.005844,0.412816,-0.536062,0.767431,0,0.880469,0.268487
29,0,0,0,1,0.468236,-0.654143,1.426749,0.248310,1.002633,0,-0.919030,-0.589690
...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,1,-0.673803,-1.016322,-1.209478,-0.379188,-0.408580,0,0.880469,-0.589690
671,0,0,1,0,-0.673803,0.040034,-0.263140,-1.320435,-0.643782,0,-0.019280,1.126663
672,1,0,0,0,-0.673803,-1.574681,-1.141882,2.130803,1.002633,0,-0.019280,-0.589690
673,0,0,0,1,-0.673803,-0.654143,-0.263140,-1.006686,-1.819793,1,-0.919030,-0.589690
674,0,0,0,1,-0.388293,0.190942,-1.277074,0.091435,0.532229,1,-0.019280,0.268487
675,0,0,1,0,-0.388293,0.040034,-1.006691,0.718933,0.297027,1,0.880469,1.126663
676,0,0,0,1,-0.388293,0.190942,-0.939096,-0.692937,-0.408580,1,-0.919030,-0.589690
677,1,0,0,0,-0.388293,-1.574681,-1.344669,0.091435,0.297027,0,-0.919030,-0.589690
678,0,0,0,1,-0.388293,0.190942,-0.668713,1.032682,2.649049,0,-0.019280,-0.589690
679,1,0,0,0,-0.388293,-0.654143,-0.263140,-1.006686,-1.819793,1,-0.919030,-0.589690
680,0,0,0,1,-0.388293,1.036026,0.074838,0.562059,-0.408580,0,-0.019280,0.268487
681,1,0,0,0,-0.388293,0.040034,-1.006691,0.718933,0.297027,1,0.880469,1.126663
682,0,0,1,0,-0.388293,1.171843,-0.263140,1.032682,-0.408580,0,0.880469,0.268487
683,0,0,0,1,-0.388293,0.040034,-1.006691,0.718933,0.297027,1,0.880469,1.126663
684,0,0,0,1,-0.388293,-0.654143,-0.263140,-1.006686,-1.819793,1,-0.919030,-0.589690
685,0,0,0,1,-0.388293,-1.574681,-1.141882,2.130803,1.002633,0,-0.019280,-0.589690
686,1,0,0,0,-0.388293,-1.574681,-1.141882,2.130803,1.002633,0,-0.019280,-0.589690
687,0,0,0,1,-0.388293,-1.574681,-1.344669,0.091435,0.297027,0,-0.919030,-0.589690
688,0,0,0,0,-0.388293,-1.574681,-1.141882,2.130803,1.002633,0,-0.019280,-0.589690
689,0,0,0,1,-0.388293,-0.654143,-0.263140,-1.006686,-1.819793,1,-0.919030,-0.589690
690,0,0,0,0,-0.388293,2.348925,1.291558,-0.065439,-1.349389,0,0.880469,2.843016
691,0,1,0,0,-0.388293,-0.654143,-0.533522,0.562059,-1.114186,1,0.880469,-0.589690
692,1,0,0,0,-0.388293,-1.016322,-1.209478,-0.379188,-0.408580,0,0.880469,-0.589690
693,1,0,0,0,-0.388293,0.190942,-0.939096,-0.692937,-0.408580,1,-0.919030,-0.589690
694,0,0,0,1,-0.388293,1.036026,0.074838,0.562059,-0.408580,0,-0.019280,0.268487
695,1,0,0,0,-0.388293,-0.654143,-0.533522,0.562059,-1.114186,1,0.880469,-0.589690
696,1,0,0,0,-0.388293,0.040034,-0.263140,-1.320435,-0.643782,0,-0.019280,1.126663
697,1,0,0,0,-0.388293,1.624567,-0.939096,-1.320435,-0.408580,1,-0.919030,-0.589690
698,0,0,0,1,-0.388293,0.190942,-0.939096,-0.692937,-0.408580,1,-0.919030,-0.589690
699,0,0,0,1,-0.388293,1.036026,0.074838,0.562059,-0.408580,0,-0.019280,0.268487

In [46]:
reg.fit(X_train, y_train)
print('Training score: ',reg.score(X_train, y_train))
predictions = reg.predict(X_test)
print('Testing score:', reg.score(X_test, y_test))
accuracy = np.sum(predictions==y_test) / len(predictions)
print( 'Accuracy:', accuracy)
print('Intercept:', reg.intercept_)
summary_table = pd.DataFrame(columns=['Feature name'], data = feature_names)
summary_table['Coefficients'] = np.transpose(reg.coef_)
summary_table

Training score:  0.7892857142857143
Testing score: 0.7714285714285715
Accuracy: 0.7714285714285715
Intercept: [-0.17996475]

C:\Users\Karolina\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

              Feature name  Coefficients
0                 Reason_1      2.132799
1                 Reason_2      0.358309
2                 Reason_3      1.547208
3                 Reason_4      1.401411
4                    Month      0.085146
5   Transportation Expense      0.785799
6         Distance to Work     -0.116084
7                      Age     -0.297366
8          Body Mass Index      0.305797
9                Education     -0.158519
10                Children      0.402132
11                    Pets     -0.345563

In [47]:
summary_table['Odds_ratio'] = np.exp(summary_table.Coefficients)
summary_table.sort_values('Odds_ratio', ascending = False)

              Feature name  Coefficients  Odds_ratio
0                 Reason_1      2.132799    8.438456
2                 Reason_3      1.547208    4.698336
3                 Reason_4      1.401411    4.060927
5   Transportation Expense      0.785799    2.194159
10                Children      0.402132    1.495009
1                 Reason_2      0.358309    1.430908
8          Body Mass Index      0.305797    1.357707
4                    Month      0.085146    1.088876
6         Distance to Work     -0.116084    0.890401
9                Education     -0.158519    0.853407
7                      Age     -0.297366    0.742772
11                    Pets     -0.345563    0.707822

In [49]:
predict_proba = reg.predict_proba(X_test)
predict_proba

array([[0.64294976, 0.35705024],
       [0.87827959, 0.12172041],
       [0.8344907 , 0.1655093 ],
       [0.58977248, 0.41022752],
       [0.5457558 , 0.4542442 ],
       [0.0615802 , 0.9384198 ],
       [0.67901463, 0.32098537],
       [0.31492668, 0.68507332],
       [0.92765718, 0.07234282],
       [0.76579454, 0.23420546],
       [0.89068805, 0.10931195],
       [0.66549712, 0.33450288],
       [0.23341326, 0.76658674],
       [0.4325558 , 0.5674442 ],
       [0.72200538, 0.27799462],
       [0.52560195, 0.47439805],
       [0.98504797, 0.01495203],
       [0.19525574, 0.80474426],
       [0.89303256, 0.10696744],
       [0.55777992, 0.44222008],
       [0.72152004, 0.27847996],
       [0.77012642, 0.22987358],
       [0.67069504, 0.32930496],
       [0.67088685, 0.32911315],
       [0.86770279, 0.13229721],
       [0.13185172, 0.86814828],
       [0.56973669, 0.43026331],
       [0.89132931, 0.10867069],
       [0.78688756, 0.21311244],
       [0.5756856 , 0.4243144 ],
       [0.88317952, 0.11682048],
       [0.85567088, 0.14432912],
       [0.36391878, 0.63608122],
       [0.42066327, 0.57933673],
       [0.71709979, 0.28290021],
       [0.37776462, 0.62223538],
       [0.67069504, 0.32930496],
       [0.86444611, 0.13555389],
       [0.093894  , 0.906106  ],
       [0.82175953, 0.17824047],
       [0.51346608, 0.48653392],
       [0.77440179, 0.22559821],
       [0.32550951, 0.67449049],
       [0.89758905, 0.10241095],
       [0.80273959, 0.19726041],
       [0.24716491, 0.75283509],
       [0.16201585, 0.83798415],
       [0.08144581, 0.91855419],
       [0.68134296, 0.31865704],
       [0.8953327 , 0.1046673 ],
       [0.76579454, 0.23420546],
       [0.67604178, 0.32395822],
       [0.5457558 , 0.4542442 ],
       [0.06323912, 0.93676088],
       [0.85864724, 0.14135276],
       [0.80273959, 0.19726041],
       [0.01292974, 0.98707026],
       [0.71709979, 0.28290021],
       [0.10159891, 0.89840109],
       [0.49685108, 0.50314892],
       [0.34068096, 0.65931904],
       [0.88064791, 0.11935209],
       [0.43600256, 0.56399744],
       [0.31492668, 0.68507332],
       [0.89068805, 0.10931195],
       [0.88652952, 0.11347048],
       [0.32886219, 0.67113781],
       [0.99132043, 0.00867957],
       [0.72685831, 0.27314169],
       [0.48353777, 0.51646223],
       [0.76579454, 0.23420546],
       [0.78688756, 0.21311244],
       [0.26486611, 0.73513389],
       [0.67604178, 0.32395822],
       [0.87318503, 0.12681497],
       [0.37776462, 0.62223538],
       [0.55177543, 0.44822457],
       [0.80656075, 0.19343925],
       [0.72685831, 0.27314169],
       [0.8963261 , 0.1036739 ],
       [0.0615802 , 0.9384198 ],
       [0.08037369, 0.91962631],
       [0.87276714, 0.12723286],
       [0.7786205 , 0.2213795 ],
       [0.88317952, 0.11682048],
       [0.29085286, 0.70914714],
       [0.7786205 , 0.2213795 ],
       [0.08789178, 0.91210822],
       [0.21974373, 0.78025627],
       [0.68134296, 0.31865704],
       [0.83782106, 0.16217894],
       [0.36011944, 0.63988056],
       [0.68081802, 0.31918198],
       [0.71709979, 0.28290021],
       [0.53293498, 0.46706502],
       [0.093894  , 0.906106  ],
       [0.47046908, 0.52953092],
       [0.03720592, 0.96279408],
       [0.34589169, 0.65410831],
       [0.23779125, 0.76220875],
       [0.73557269, 0.26442731],
       [0.38925924, 0.61074076],
       [0.80273959, 0.19726041],
       [0.20435284, 0.79564716],
       [0.87565674, 0.12434326],
       [0.35274027, 0.64725973],
       [0.13751741, 0.86248259],
       [0.82175953, 0.17824047],
       [0.88104344, 0.11895656],
       [0.34263048, 0.65736952],
       [0.32550951, 0.67449049],
       [0.36485495, 0.63514505],
       [0.45053707, 0.54946293],
       [0.66006385, 0.33993615],
       [0.20873277, 0.79126723],
       [0.47095946, 0.52904054],
       [0.70731295, 0.29268705],
       [0.06744493, 0.93255507],
       [0.52687928, 0.47312072],
       [0.08802279, 0.91197721],
       [0.78278244, 0.21721756],
       [0.19708045, 0.80291955],
       [0.15874241, 0.84125759],
       [0.23384597, 0.76615403],
       [0.24282895, 0.75717105],
       [0.72821472, 0.27178528],
       [0.80273959, 0.19726041],
       [0.73081725, 0.26918275],
       [0.33968111, 0.66031889],
       [0.86157216, 0.13842784],
       [0.67069504, 0.32930496],
       [0.63171237, 0.36828763],
       [0.14618329, 0.85381671],
       [0.47046908, 0.52953092],
       [0.68134296, 0.31865704],
       [0.03634483, 0.96365517],
       [0.47746958, 0.52253042],
       [0.35924016, 0.64075984],
       [0.55777992, 0.44222008],
       [0.85264259, 0.14735741]])

### Save the model

In [50]:
# you can pickle: save the reg object into a file
# space - less than 1 mb
import pickle
with open('model', 'wb') as file:
    pickle.dump(reg, file)
file.close()
with open('scaler', 'wb') as file:
    pickle.dump(CustomScaler, file)